* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}
h2, p{
   color: #658ec6; 
   font-weight: 500;
   opacity: 0.8;
}
h3{
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
}
main{
    font-family: "poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top,#ae65df, #eb6ccb);
    display: flex;
    align-items: center;  
    justify-content: center;
    text-transform: capitalize;
}

.glass{
    background: rgb(255, 255, 255);
    /* height: 90vh; */
     display:flex; 
    width: 60%;
    background: linear-gradient(
        to right bottom,
     rgba(255, 255, 255, 0.281),
     rgba(255, 255, 255, 0.596)
     );
     border-radius: 3rem;
     backdrop-filter: blur(2rem);
     z-index: 4;
}
.fa-solid{
    font-size: 2rem;
    
}
.fa-brands{
    font-size: 2rem;
}
 .dashboard{
     background: rgba(255, 255, 255, 0.281);
    width: 30%;
    flex: -2;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(
        to right bottom,
     rgba(255, 255, 255, 0.281),
     rgba(255, 255, 255, 0.596)
     );
     border-radius: 3rem;
 }
  .link, .game,.new, .library{
      display: flex;
      margin: 1rem 0rem;
      padding: 1rem 0rem;
      align-items: center;
  }  
   .links h2{
      padding: 0rem 1rem;
  }
  .pro{
    background: linear-gradient(to right top,#ae65df, #eb6ccb);
    border-radius: 3rem;
    padding: 1rem;
    position: relative;
  }
  .pro img{
      position: absolute;
      top: 10%;
      right: 10%;
      border-radius: 50rem;
  }
  .pro h2{
      width: 40%;
      font-weight: 600;
  }

.circle1, .circle2{
    background: whitesmoke;
    background: linear-gradient(
        to right bottom,
     rgba(255, 255, 255, 0.836),
     rgba(255, 255, 255, 0.301)
     );
     height: 20rem;
     width: 20rem;
     position: absolute;
    border-radius: 50%;
}
.circle1{
     top: 2%;
     right: 5%;
     background: whitesmoke;
}
.circle2{
     bottom: 1%;
     left: 5%;
}
/* games */
.status{
      margin-bottom: 3rem;
}
.status input{
    background: linear-gradient(
        to right bottom,
     rgba(255, 255, 255, 0.836),
     rgba(255, 255, 255, 0.301)
     );
     border: none;
     width: 50%;
     padding: 0.5rem;
    border-radius: 2rem;
}

.games{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3rem;
    flex: 2;
}

.card{
    display: flex;
    background: linear-gradient(to left top,
    rgb(255, 255, 255, 1), 
    rgba(255, 255, 255, 0.164));
    border-radius: 1rem;
    margin: 0.8rem 0rem;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.438);
    justify-content: space-between;
}
.progress{
    background: linear-gradient(to right top,#ae65df, #eb6ccb);
    width: 150%;
    height: 50%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden; 
}
.progress::after{
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(243, 219, 219);
    position: absolute;
    left: 70%;
}
.card-info{
        display: flex;
        flex-direction: column; 
        justify-content: space-between;
} 
 .percentage{
    font-weight: bold;
    background: linear-gradient(to right top,#ae65df, #eb6ccb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 